%html
  %head
    %meta{:content => 'device-width, initial-scale=1', :name => 'viewport'}
    %title= @image_path
    :css
      body {
        background-color: #f4f4f4;
        padding: 0;
        margin: 0;
      }

      header {
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        text-align: center;
        height: 50px;
        font-family: "Avenir Next";
        font-weight: 400;
        margin-bottom: -25px; /* 1/2 the height */
      }

      .center {
        position: relative;
        top: 50%;
        text-align: center;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        text-align: center;
      }

      img {
        max-height: 70%;
        max-width: 90%;
        height: auto;
        width: auto;
      }
  %body
    %header
      .center= @image_path
    .wrapper
      %img.center{:src => "/embed/#{@image_path}"}
