body {
   margin: 0;
   padding: 0;
   background-color: #fbfbfb;
}

a {
   color: inherit;
}

.center {
  position: relative;
  top: 50%;
  text-align: center;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-family: "Avenir Next";
  font-weight: 400;
  padding: .8em;
  margin-bottom: .5em;
}

h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: .8em;
  font-weight: normal;
  color: #999;
  margin: 0;
}

h3 {
   font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
   font-size: 20px;
   font-weight: normal;
   margin: .5em .5em 0 .75em;
   text-transform: uppercase;
}
