%html
  %head
    %meta{:content => 'device-width, initial-scale=1', :name => 'viewport'}
    %title= image
    != css :app
  %body
    %header
      %div= image
    .wrapper
      %img.center{:src => file_url(image)}
