%html
  %head
    %meta{:content => 'device-width, initial-scale=1', :name => 'viewport'}
    %link{:href => '/css/application.css', :rel => 'stylesheet', :type => 'text/css'}
    %title= image
  %body
    %header
      .center= image
    .wrapper
      %img.center{:src => "/uploads/#{image}"}
